@model Models.EF.DaiLy

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Chi tiết</h2>

<div>
    <h4>Đại lý</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDaiLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDaiLy)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.TenDaiLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDaiLy)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <br />

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <br />

        

    </dl>
</div>
<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit",  new { id = Model.MaDaiLy })';return false;"><b> Sửa</b></button>&nbsp&nbsp&nbsp&nbsp
    <button class="btn btn-default" onclick="location.href='@Url.Action("Index")';return false;"><b>Trở lại</b></button>&nbsp&nbsp&nbsp&nbsp
</p>
